
:root {
    --gridSize: 600px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #fafafa;
}

.grid {
    width: var(--gridSize);
    height: var(--gridSize);

    display: flex;
    flex-wrap: wrap;
}

.cell {
    width: calc(var(--gridSize) / 9);
    height: calc(var(--gridSize) / 9);
    
    border: #151515 solid 1px;
}